[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/7.1
    ignore = dirty
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
    ignore = dirty
[submodule "x265"]
	path = x265
	url = https://bitbucket.org/multicoreware/x265_git.git
    ignore = dirty
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "nv-codec-headers"]
	path = nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
    ignore = dirty
